<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>We care about <strong>you</strong> and <strong>yo mama</strong>!</h1>
    <p>Put em out to pasture.</p>
    <a class="btn btn-primary" href="#">Get it over with now!</a>
  </div>
</div>
