<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'https://res.cloudinary.com/dpruppbjy/image/upload/v1582650115/banner-img_nlnklz.jpg' %>)">
  <div class="container">
    <h1>We care about <strong>you</strong> and <strong>yo mama</strong>!</h1>
    <p>Put em out to pasture.</p>
    <% if !user_signed_in? %>
    <%= link_to "Get it over with now!", new_user_registration_path, class: "btn btn-primary" %>
    <% else %>
    <%= link_to "Book a room!", rooms_path, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>


