<div class="footer mt-4">
  <div class="row">
    <div class="footer-links text-center col-sm-6">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright col-sm-6 text-center">
      One day you'll be old AF too <i class="fas fa-heart"></i>
    </div>
  </div>
</div>
