<div class="room-card">
  <img src="https://res.cloudinary.com/dhlgr04v3/image/upload/v1582737660/oldman-3_w0nwce.jpg"/>
  <div class="room-card-infos">
    <div>
      <h2><%= room.name %></h2>
      <p><%= room.address %></p>
    </div>
    <h2 class="room-card-pricing"><%= room.price %></h2>
    <img src="https://res.cloudinary.com/dhlgr04v3/image/upload/v1582668209/old-man_a6rfdi.jpg" class="room-card-user avatar-bordered" />
  </div>
</div>
