<div class="container p-0">
  <%if current_user.owner == false %>
 <h2>My bookings</h2>
  <div class="row">
    <% @user_bookings.each do |booking| %>
      <%= render "components/booking-card", room: booking.room, booking: booking %>
    <% end %>
  </div>

<%else%>

    <h2>My Bookings: Owner</h2>
    <div class="row">
    <% @owner_bookings.each do |booking| %>
      <%= render "components/booking-card", room: booking.room, booking: booking%>
    <% end %>
  </div>
</div>
<%end%>


