<div class="container">
  <h2 class="mb-3">My bookings</h2>
  <div class="row">
    <%if current_user.owner == false %>
        <% @user_bookings.each do |booking| %>
          <div class="col-md-6">
            <%= render "components/room-card", room: booking.room %>
          </div>
        <% end %>

    <%else%>
      <% @owner_bookings.each do |booking| %>
          <div class="col-md-6">
            <%= render "components/room-card", room: booking.room %>
          </div>
      <% end %>
    <%end%>
  </div>
</div>
