<div class="container">
  <h2>So many rooms for old people</h2>
  <div class="row">
    <% @rooms.each do |room| %>
      <div class="col-md-4">
        <%= render 'components/room-card' %>
      </div>
    <% end %>
  </div>
</div>
