.room-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 32px;
  color:black;
  box-shadow: 4px 0px 20px #888888;
    &:hover{
    opacity: 0.5;
    transition-duration: 0.2s;
  }
}

.room-card > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.room-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.room-card p {
  font-size: 18px;
  opacity: 1;
  margin: 0;
}


.room-card a{
  display: inline-block;
}



.room-card .room-card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  min-height: 150px;
}

.room-card-infos .room-card-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 60px;
}

.card-no-hover a:hover {
  text-decoration: none !important;
}
