.room-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 32px;
}

.room-card > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.room-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.room-card p {
  font-size: 18px;
  opacity: .7;
  margin: 0;
}


.room-card .room-card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.room-card-infos .room-card-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 60px;
}
